<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr>

    <app-text-input [formControl]='registerForm.controls["username"]' [label]='"Username"'></app-text-input>
    <app-text-input [formControl]='registerForm.controls["password"]' [label]='"Password"' [type]='"password"'></app-text-input>
    <app-text-input [formControl]='registerForm.controls["confirmPassword"]' [label]='"Confirm Password"' [type]='"password"'></app-text-input>
    
    <div class="form-group text-center mt-2">
        <button class="btn btn-success" style="margin-right: 10px;" type="submit">Submit</button>
        <button class="btn btn-default" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>

<p>Form Value: {{registerForm.value | json}}</p>
<p>Form Status: {{registerForm.status | json}}</p>